.choose__images_element-animation {
    opacity: 0;
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.choose__images_element-animation.show {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}