.choose__desc-3 {
    font-family: "ChakraPetch-Regular", sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 48px 0;
    color: #D1D1D1;
    display: none;
}

.choose__desc-3.active {
    display: block;
}