.advantages__container_element-animation {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
}

.advantages__container_element-animation.show {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}