.header__button {
    min-width: 126px;
    min-height: 52px;
    position: relative;
    background: transparent;
    border-image: linear-gradient(to right, #0CBAF1, #E95CE9) 1;
    cursor: pointer; 
    outline: none; 
    overflow: hidden;
}

.header__button:hover {
    border: none;
    border-image: none;
}

.header__button::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #0CBAF1, #E95CE9);
    z-index: -1; 
    opacity: 0; 
    transition: opacity 0.7s ease;
}

.header__button:hover::before {
    opacity: 1; 
    overflow: hidden;
}

