.button-link {
    font-family: "ChakraPetch-bold", sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}