.about__shadow {
    position: relative;
}

.about__shadow::before {
    content: ''; 
    position: absolute; 
    left: -300px; 
    bottom: -622px;
    width: 1050px; 
    height: 600px; 
    background-image: url("../../../images/welcome-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
}