.started__shadow {
    position: relative;
}

.started__shadow::before {
    content: ''; 
    position: absolute; 
    left: -500px; 
    bottom: -300px;
    width: 1050px; 
    height: 600px; 
    opacity: 0.4;
    background-image: url("../../../images/welcome-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    pointer-events: none;
}